
// ion-content{
//   --background: rgb(31, 28, 28);
// }

#footer  {
    --background: #463a40;
    --color: #d6a505;
    font-size: small;
  }

#verde{
  --background: #3ef70685;
  --color: #1a1919;
  font-size: small;
}

ion-icon{
  margin: center;
  padding-inline: 10px;
}

$dark-color: #111;
$light-color: #eee;

body.dark-mode {
  background-color: $dark-color;
  color: $light-color;
  a {
    color: $dark-color;
  }
  button {
    background-color: $light-color;
    color: $dark-color;
  }
}

body.light-mode {
  background-color: $light-color;
  color: $dark-color;
  a {
    color: $dark-color;
  }
  button {
    background-color: $dark-color;
    color: $light-color;
  }
}

