<div class="principal">
  <ion-header [translucent]="true">
    <ion-toolbar >
      <ion-title class="ion-text-center">
        <ion-row>
          <ion-col size="12">
            <ion-toggle
              id="toggle"
              aria-label="Dark toggle"
              color="dark"
              [checked]="true"
              (click)="toggleDarkMode()"
            ></ion-toggle>
            <ion-title class="ion-text-center"
              >Ahorra luz {{bombilla}}
            </ion-title>
          </ion-col>
        </ion-row>
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content id="body" [fullscreen]="true">
    <ion-card class="glossy">
      <ion-img [src]="image"></ion-img>
      <ion-card-header>
        <ion-card-title
          >{{ newDay }} <ion-icon name="calendar-outline"></ion-icon
        ></ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <p>
          Precio en este instante
          <strong>{{ horaActual }}.h</strong>
        </p>
        <ion-title color="tertiary">{{precioActual()}} €/MWh </ion-title>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-content >
        <p>Precio medio del dia de hoy</p>
        <ion-title color="medium">{{percioMedio}}€/MWh</ion-title>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-content>
        <p>
          La más barata:
          <strong>{{horaBarata()}} a {{horaBarata()+1}} h.</strong>
        </p>
        <ion-title color="success">{{priceMin}} €/MWh</ion-title>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-content>
        <p>
          La más cara: <strong>{{horaCara()}} a {{horaCara()+1}} h.</strong>
        </p>
        <ion-title color="danger">{{priceMax}} €/MWh</ion-title>
      </ion-card-content>
    </ion-card>

    <ion-list [inset]="true">
      <ion-item *ngFor="let item of preciosHoy; index as i">
        <ion-label>
          <ion-row
          class="ion-align-items-center"
          >
            <ion-col size="3"> {{i}}-{{i+1}}h. ⏲ </ion-col>
            <ion-col size="5">
              <span> {{item}} €/MWh </span>
              <ion-icon
              *ngIf="item < percioMedio"
              color="success"
              name="trending-down-outline"
            ></ion-icon>
            <ion-icon
              *ngIf="item > percioMedio"
              color="danger"
              name="trending-up-outline"
            ></ion-icon>
            </ion-col>
            <ion-col size="1">
              <ion-icon
                *ngIf="item < 100"
                name="shirt-outline"
                color="primary"
              ></ion-icon>
            </ion-col>
          </ion-row>
        </ion-label>
      </ion-item>
    </ion-list>
    <ion-title id="footer" class="ion-text-start"> <p>DiveCode™</p> </ion-title>
  </ion-content>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button href="https://github.com/d-maza">
      <ion-icon name="logo-octocat"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</div>
<script>
  let toggle = document.getElementById("toggle");
  toggle.addEventListener("change", toggleDarkMode);
</script>
