<div class="principal">
  <ion-content id="body" [fullscreen]="true">
    <ion-header [translucent]="true">
      <ion-toolbar>
        <ion-title class="ion-text-center">
          <ion-row>
            <ion-col size="12">
              <ion-toggle
                id="toggle"
                aria-label="Dark toggle"
                color="dark"
                [checked]="true"
                (click)="toggleDarkMode()"
              ></ion-toggle>
              <ion-title class="ion-text-center"
                >Ahorra luz {{bombilla}}
              </ion-title>
            </ion-col>
          </ion-row>
        </ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-card class="glossy">
      <img
        alt="Silhouette of mountains"
        src="https://energia.roams.es/images/post/es_ES_energy/1200x304/luz-precio-luz-horas.jpg"
      />
      <ion-card-header>
        <ion-card-title
          >{{ newDay }} <ion-icon name="calendar-outline"></ion-icon
        ></ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <p>
          Precio en este instante
          <strong>{{ datos[1] || horaActual }}.h</strong>
        </p>
        <ion-title color="tertiary">163,52p €/MWh </ion-title>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-content>
        <p>Precio medio del dia de hoy</p>
        <ion-title color="medium">185,82p €/MWh</ion-title>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-content>
        <p>La más barata <strong>XX-XX h.</strong></p>
        <ion-title color="success">{{PriceMin}} €/MWh</ion-title>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-content>
        <p>La más cara <strong>XX-XX h.</strong></p>
        <ion-title color="danger">{{PriceMax}} €/MWh</ion-title>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-content>
        <p>👕 Hoy te aconsejamos lavar la ropa a..</p>
        <div *ngFor="let datos of datosHappyHour; index as i">
          <h2>{{datos.hour}}h. ⏲ {{datos.price}}-{{datos.units}}</h2>
        </div>
      </ion-card-content>
    </ion-card>

    <ion-list [inset]="true">
      <ion-item *ngFor="let item of preiosHoy; index as i">
        <ion-label>
          {{i}}-{{i+1}}h. ⏲
          <ion-icon
            *ngIf="item['is-under-avg']"
            name="trending-down-outline"
          ></ion-icon>
          <ion-icon
            *ngIf="!item['is-under-avg']"
            name="trending-up-outline"
          ></ion-icon>

          <span>
            {{item}} €/MWh
            <ion-icon
              *ngIf="item['is-cheap']"
              name="shirt-outline"
              color="primary"
            ></ion-icon>
          </span>
        </ion-label>
      </ion-item>
    </ion-list>
    <ion-title id="footer" class="ion-text-start"> <p>DiveCode™</p> </ion-title>
  </ion-content>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button href="https://github.com/d-maza">
      <ion-icon name="logo-octocat"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</div>
<script>
  let toggle = document.getElementById("toggle");
  toggle.addEventListener("change", toggleDarkMode);
</script>
